{%- comment -%}

This snippet renders a map card with proper styling for the given map item

Args:
  map: the collection map item

Renders:
  map card with proper css styling

{%- endcomment -%}
{%- assign mapUrl1 = nil %}
{%- assign mapUrl2 = nil %}
{%- assign mapUrl3 = nil %}
{%- include getMapImage.liquid map=include.map number=0 %}
{%- assign mapUrl0 = gp_mapUrl %}
{%- include getMapImage.liquid map=include.map number=1 %}
{%- if gp_mapUrl %}
  {%- assign mapUrl1 = gp_mapUrl %}
  {%- include getMapImage.liquid map=include.map number=2 %}
  {%- if gp_mapUrl %}
    {%- assign mapUrl2 = gp_mapUrl %}
    {%- include getMapImage.liquid map=include.map number=3 %}
    {%- if gp_mapUrl %}
      {%- assign mapUrl3 = gp_mapUrl %}
    {%- endif %}
  {%- endif %}
{%- endif %}
<div class="col mb-4 mapCard {% include renderMapSlug.liquid map=include.map -%}">
  <div class="card h-100">
    <div class="relative-container">
      {%- if mapUrl1 %}
      <input class="btn-check state-0" type="radio" name="state-{%- include renderMapSlug.liquid map=include.map -%}" id="state-0-{%- include renderMapSlug.liquid map=include.map -%}" autocomplete="off" checked>
      <label class="btn btn-outline-primary btn-state-tiny state-0" for="state-0-{%- include renderMapSlug.liquid map=include.map -%}">1</label>
      <input class="btn-check state-1" type="radio" name="state-{%- include renderMapSlug.liquid map=include.map -%}" id="state-1-{%- include renderMapSlug.liquid map=include.map -%}" autocomplete="off">
      <label class="btn btn-outline-primary btn-state-tiny state-1" for="state-1-{%- include renderMapSlug.liquid map=include.map -%}">2</label>
      {%- if mapUrl2 %}
      <input class="btn-check state-2" type="radio" name="state-{%- include renderMapSlug.liquid map=include.map -%}" id="state-2-{%- include renderMapSlug.liquid map=include.map -%}" autocomplete="off">
      <label class="btn btn-outline-primary btn-state-tiny state-2" for="state-2-{%- include renderMapSlug.liquid map=include.map -%}">3</label>
      {%- endif %}
      {%- if mapUrl3 %}
      <input class="btn-check state-3" type="radio" name="state-{%- include renderMapSlug.liquid map=include.map -%}" id="state-3-{%- include renderMapSlug.liquid map=include.map -%}" autocomplete="off">
      <label class="btn btn-outline-primary btn-state-tiny state-3" for="state-3-{%- include renderMapSlug.liquid map=include.map -%}">4</label>
      {%- endif %}
      {%- endif %}
      <a class="map-state" href="{%- link map.html -%}#{%- include renderMapSlug.liquid map=include.map -%}">
        <img class="card-img-top mapCard-image-board state-0" src="{{ mapUrl0 }}" loading="lazy">
        {%- if mapUrl1 %}
        <img class="card-img-top mapCard-image-board state-1" src="{{ mapUrl1 }}" loading="lazy">
        {%- endif %}
        {%- if mapUrl2 %}
        <img class="card-img-top mapCard-image-board state-2" src="{{ mapUrl2 }}" loading="lazy">
        {%- endif %}
        {%- if mapUrl3 %}
        <img class="card-img-top mapCard-image-board state-3" src="{{ mapUrl3 }}" loading="lazy">
        {%- endif %}
      </a>
      <img class="card-img-top mapCard-image-background" src="{%- include renderMapBackground.liquid map=include.map -%}" loading="lazy">
      <div class="bottom-right-absolute">
        {%- for author in include.map.authors %}
          <div class="badge bg-primary">{%- if author.url -%}<a class="text-reset" href="{{ author.url }}">{{ author.name }}</a>{%- else -%}{{ author.name }}{%- endif -%}</div>
        {%- endfor %}
      </div>
    </div>
    <div class="card-body">
      {% if include.map.name > 1 or include.map.desc.size > 1 %}
        <input class="btn-check en" type="radio" name="lang-{%- include renderMapSlug.liquid map=include.map -%}" id="lang-en-{%- include renderMapSlug.liquid map=include.map -%}" autocomplete="off" checked>
        <label class="btn btn-outline-primary btn-lang-tiny" for="lang-en-{%- include renderMapSlug.liquid map=include.map -%}">🇬🇧</label>
        {% if include.map.name.de or include.map.desc.de %}
        <input class="btn-check de" type="radio" name="lang-{%- include renderMapSlug.liquid map=include.map -%}" id="lang-de-{%- include renderMapSlug.liquid map=include.map -%}" autocomplete="off">
        <label class="btn btn-outline-primary btn-lang-tiny" for="lang-de-{%- include renderMapSlug.liquid map=include.map -%}">🇩🇪</label>
        {%- endif %}
        {% if include.map.name.fr or include.map.desc.fr %}
        <input class="btn-check fr" type="radio" name="lang-{%- include renderMapSlug.liquid map=include.map -%}" id="lang-fr-{%- include renderMapSlug.liquid map=include.map -%}" autocomplete="off">
        <label class="btn btn-outline-primary btn-lang-tiny" for="lang-fr-{%- include renderMapSlug.liquid map=include.map -%}">🇫🇷</label>
        {%- endif %}
        {% if include.map.name.it or include.map.desc.it %}
        <input class="btn-check it" type="radio" name="lang-{%- include renderMapSlug.liquid map=include.map -%}" id="lang-it-{%- include renderMapSlug.liquid map=include.map -%}" autocomplete="off">
        <label class="btn btn-outline-primary btn-lang-tiny" for="lang-it-{%- include renderMapSlug.liquid map=include.map -%}">🇮🇹</label>
        {%- endif %}
        {% if include.map.name.es or include.map.desc.es %}
        <input class="btn-check es" type="radio" name="lang-{%- include renderMapSlug.liquid map=include.map -%}" id="lang-es-{%- include renderMapSlug.liquid map=include.map -%}" autocomplete="off">
        <label class="btn btn-outline-primary btn-lang-tiny" for="lang-es-{%- include renderMapSlug.liquid map=include.map -%}">🇪🇸</label>
        {%- endif %}
        {% if include.map.name.jp or include.map.desc.jp %}
        <input class="btn-check jp" type="radio" name="lang-{%- include renderMapSlug.liquid map=include.map -%}" id="lang-jp-{%- include renderMapSlug.liquid map=include.map -%}" autocomplete="off">
        <label class="btn btn-outline-primary btn-lang-tiny" for="lang-jp-{%- include renderMapSlug.liquid map=include.map -%}">🇯🇵</label>
        {%- endif %}
      {%- endif %}
      <div class="row lang">
        <h4 class="card-title en
        {%- if include.map.name.de == Nil %} de{% endif -%}
        {%- if include.map.name.fr == Nil %} fr{% endif -%}
        {%- if include.map.name.it == Nil %} it{% endif -%}
        {%- if include.map.name.es == Nil %} es{% endif -%}
        {%- if include.map.name.jp == Nil %} jp{% endif -%}">{{ include.map.name.en }}</h4>
        {% if include.map.name.de -%}
          <h4 class="card-title de">{{ include.map.name.de }}</h4>
        {%- endif %}
        {% if include.map.name.fr -%}
          <h4 class="card-title fr">{{ include.map.name.fr }}</h4>
        {%- endif %}
        {% if include.map.name.it -%}
          <h4 class="card-title it">{{ include.map.name.it }}</h4>
        {%- endif %}
        {% if include.map.name.es -%}
          <h4 class="card-title es">{{ include.map.name.es }}</h4>
        {%- endif %}
        {% if include.map.name.jp -%}
          <h4 class="card-title jp">{{ include.map.name.jp }}</h4>
        {%- endif %}
      </div>
      <div class="row lang" style="width: 100%">
        <p class="card-text en
        {%- if include.map.desc.de == Nil %} de{% endif -%}
        {%- if include.map.desc.fr == Nil %} fr{% endif -%}
        {%- if include.map.desc.it == Nil %} it{% endif -%}
        {%- if include.map.desc.es == Nil %} es{% endif -%}
        {%- if include.map.desc.jp == Nil %} jp{% endif -%}">{{ include.map.desc.en }}</p>
        {% if include.map.desc.de -%}
          <p class="card-text de">{{ include.map.desc.de }}</p>
        {%- endif %}
        {% if include.map.desc.fr -%}
          <p class="card-text fr">{{ include.map.desc.fr }}</p>
        {%- endif %}
        {% if include.map.desc.it -%}
          <p class="card-text it">{{ include.map.desc.it }}</p>
        {%- endif %}
        {% if include.map.desc.es -%}
          <p class="card-text es">{{ include.map.desc.es }}</p>
        {%- endif %}
        {% if include.map.desc.jp -%}
          <p class="card-text jp">{{ include.map.desc.jp }}</p>
        {%- endif %}
      </div>
    </div>
    <div class="card-body mapInfo" id="{% include renderMapSlug.liquid map=include.map -%}">
      <div class="row mb-4">
        <div class="col">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Rules</div>
                {{- include.map.ruleSet -}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Theme</div>
                {{- include.map.theme -}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Initial Cash</div>
                {{- include.map.initialCash -}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Target Amount</div>
                {{- include.map.targetAmount -}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Base Salary</div>
                {{- include.map.baseSalary -}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Salary Increment</div>
                {{- include.map.salaryIncrement -}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Max Dice Roll</div>
                {{- include.map.maxDiceRoll -}}
              </div>
            </li>
          </ul>
        </div>
        <div class="col mapCard">
          <div class="card">
            <div class="fw-bold card-header">Venture Cards</div>
            <div class="card-body">
              <div class="row mx-0">
                {%- for ventureCard in site.data.ventureCards -%}
                  {%- if include.map.ventureCards -%}
                    {%- if include.map.ventureCards[forloop.index0] == 1 -%}
                      <div class="col ventureCard card bg-primary" aria-label="{{ventureCard.description}}" data-balloon-pos="up" data-balloon-blunt>
                    {%- else -%}
                      <div class="col ventureCard card" aria-label="{{ventureCard.description}}" data-balloon-pos="up" data-balloon-blunt>
                    {%- endif -%}
                  {%- else -%}
                    {%- assign ruleSet = include.map.ruleSet | downcase -%}
                    {%- if ruleSet == "standard" -%}
                      {%- if ventureCard.defaultStandard == true -%}
                        <div class="col ventureCard card bg-primary" aria-label="{{ventureCard.description}}" data-balloon-pos="up" data-balloon-blunt>
                      {%- else -%}
                        <div class="col ventureCard card" aria-label="{{ventureCard.description}}" data-balloon-pos="up" data-balloon-blunt>
                      {%- endif -%}
                    {%- else -%}
                      {%- if ventureCard.defaultEasy == true -%}
                        <div class="col ventureCard card bg-primary" aria-label="{{ventureCard.description}}" data-balloon-pos="up" data-balloon-blunt>
                      {%- else -%}
                        <div class="col ventureCard card" aria-label="{{ventureCard.description}}" data-balloon-pos="up" data-balloon-blunt>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endif -%}
                    {{forloop.index}}
                  </div>
                {%- endfor -%}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if include.map.changelog %}
      <details class="mb-4">
        <summary class="accordion-header accordion-button">Show Changelog</summary>
        <div class="accordion-body nav-tabs">
          {% for change in include.map.changelog %}
            <div class="fw-bold nav-link border mt-2" style="display:inline-block">Version <span class="badge bg-secondary">{{ change.version }}</span></div>
            {% if change.added %}
            <div class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Added</div>
                <ul class="list-group"></ul>
                  {% for added in change.added %}
                  <li>{{ added }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
            {% if change.changed %}
            <div class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Changed</div>
                <ul class="list-group"></ul>
                  {% for changed in change.changed %}
                  <li>{{ changed }}</li>
                {% endfor %}
              </ul>
              </div>
            </div>
            {% endif %}
            {% if change.removed %}
            <div class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Removed</div>
                <ul class="list-group"></ul>
                  {% for removed in change.removed %}
                  <li>{{ removed }}</li>
                {% endfor %}
              </ul>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </ul>
        </div>
      </details>
      {% endif %}
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" onclick="GitZip.zipRepo('{%- include renderMapDownloadUrl.liquid map=include.map -%}');">
        Download
        {% if include.map.changelog -%}
          {%- assign firstChange = include.map.changelog | first -%}
          <span class="badge bg-secondary">v{{ firstChange.version }}</span>
        {%- endif %}
      </button>
    </div>
  </div>
</div>