---
import slug from 'slug';
import Layout from '~/layouts/layout.astro';
import cards from "~/data/venturecards.yml";
const effects: string[] = [...new Set(cards.map(card => card.effect))].sort((a, b) => a.toLowerCase().localeCompare(b.toLowerCase()));
const types: string[] = [...new Set(cards.map(card => card.description.split("!")[0]))].sort((a, b) => a.toLowerCase().localeCompare(b.toLowerCase()));

function sentiment_to_div_class(sentiment: number) {
  let classes = "card text-center";
  if (sentiment === 1) {
    classes += " bg-success";
  } else if (sentiment === 0) {
    classes += " bg-secondary";
  } else if (sentiment === -1) {
    classes += " bg-danger";
  }
  return classes;
}
---
<script>
  import * as t from "./cards";
  declare global { var cards: typeof t; }
  globalThis.cards = t;
</script>
<Layout title="Venture Cards">
  <div class="w3-card-4 w3-center w3-display-topmiddle w3-margin-bottom-16">
    <h1 class="w3-container w3-blue w3-padding-16">Venture Cards</h1>
    <div class="container">
      <div class="row row-cols-2 g-2">
        <div class="col-3">
          <div class="mb-3">
            <button class="btn btn-primary" onclick="cards.select_all_cards(false)">Deselect all</button> <button class="btn btn-primary" onclick="cards.select_all_cards()">Select all</button>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary" onclick="cards.select_visible_cards(false)">Deselect visible</button> <button class="btn btn-primary" onclick="cards.select_visible_cards()">Select visible</button>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary" onclick="cards.reset_selected_cards()">Reset selected</button> <button class="btn btn-primary" onclick="cards.reset_filters()">Reset filters</button>
          </div>
          <h2>Gamemode</h2>
          <div class="mb-3">
            <p>The game difficulty cards are in by default. If you are using defaults, you don't need to include <code>ventureCards</code> in your board's YAML.</p>
            <select class="form-select" id="difficulty" onchange="cards.check_cards()">
              <option value="any">Any</option>
              <option value="both">Both</option>
              <option value="easy">Easy</option>
              <option value="standard">Standard</option>
              <option value="neither">Neither</option>
            </select>
          </div>
          <h2>Grade</h2>
          <div class="mb-3">
            <p>Card grades are assigned by the Fortune Street modding community based on their power among cards with similar effects.</p>
            <input type="checkbox" class="btn-check-outlined" id="grade0" autocomplete="off" checked onchange="cards.check_cards()"/>
            <label class="btn btn-primary" for="grade0">D</label>
            <input type="checkbox" class="btn-check-outlined" id="grade1" autocomplete="off" checked onchange="cards.check_cards()"/>
            <label class="btn btn-primary" for="grade1">C</label>
            <input type="checkbox" class="btn-check-outlined" id="grade2" autocomplete="off" checked onchange="cards.check_cards()"/>
            <label class="btn btn-primary" for="grade2">B</label>
            <input type="checkbox" class="btn-check-outlined" id="grade3" autocomplete="off" checked onchange="cards.check_cards()"/>
            <label class="btn btn-primary" for="grade3">A</label>
            <input type="checkbox" class="btn-check-outlined" id="grade4" autocomplete="off" checked onchange="cards.check_cards()"/>
            <label class="btn btn-primary" for="grade4">S</label>
          </div>
          <h2>Sentiment</h2>
          <div class="mb-3">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" checked id="sentimentPositive" onchange="cards.check_cards()"/>
              <label class="form-check-label" for="sentimentPositive">Positive</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" checked id="sentimentNeutral" onchange="cards.check_cards()"/>
              <label class="form-check-label" for="sentimentNeutral">Neutral</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" checked id="sentimentNegative" onchange="cards.check_cards()"/>
              <label class="form-check-label" for="sentimentNegative">Negative</label>
            </div>
          </div>
          <h2>Types</h2>
          <div class="mb-3">
            <select class="form-select" id="types" onchange="cards.check_cards()">
              <option value="any">Any</option>
              {types.map((type) => (
                <option value={slug(type)}>{type}</option>
              ))}
            </select>
          </div>
          <h2>Effects</h2>
          <div class="mb-3">
            <select class="form-select" id="effects" onchange="cards.check_cards()">
              <option value="any">Any</option>
              {effects.map((effect) => (
                <option value={slug(effect)}>{effect}</option>
              ))}
            </select>
          </div>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="mb-3">
              <label class="form-label" id="cardsSelected">64 cards selected</label> <button class="btn btn-primary" id="generateYaml" onclick="cards.generate_yaml()">Generate YAML (requires 64)</button>
            </div>
          </div>
          <div class="row row-cols-2 g-2">
            {cards.map((card, index) => (
            <div class="col" style={"display: block; opacity: " + (card.defaultStandard ? "1" : "0.625") + ";"} id={"card" + (index + 1).toString()} data-easy={card.defaultEasy} data-standard={card.defaultStandard} data-type={slug(card.description.split("!")[0])} data-effect={slug(card.effect)} data-grade={card.grade} data-sentiment={card.sentiment}>
              <div class={sentiment_to_div_class(card.sentiment)} style="height: 100%;">
                <div class="row row-cols-2 g-2">
                  <div class="col-4">
                    <div class="card-body" style="padding-right: 0;">
                      <header><p>Card No. {index + 1}</p></header>
                      <figure><img src={"/venturecards/venturecard_" + String(index + 1).padStart(3, '0') + ".webp"} alt={"Venture Card " + (index + 1).toString()} style="max-width: 100%; height: auto;"/></figure>
                      <footer><p><strong>
                        {card.grade === 0 && "D"}
                        {card.grade === 1 && "C"}
                        {card.grade === 2 && "B"}
                        {card.grade === 3 && "A"}
                        {card.grade === 4 && "S"}
                      </strong></p></footer>
                    </div>
                  </div>
                  <div class="col-8">
                    <div style="text-align: right;">
                      <input type="checkbox" style="position: relative; z-index: 1; width: 24px; height: 24px; top: 4px; right: 4px;" id={"card" + (index + 1).toString() + "selected"} checked={card.defaultStandard} onchange="cards.check_selected_cards()"/>
                    </div>
                    <div class="card-body">
                      <p><strong>{card.description}</strong></p>
                      {card.descriptionExtra !== undefined && (<p><i>({card.descriptionExtra})</i></p>)}
                      {card.defaultEasy || card.defaultStandard && (
                      <p>
                        Default in: 
                        {card.defaultEasy && "Easy"}
                        {card.defaultEasy && card.defaultStandard && "/"}
                        {card.defaultStandard && "Standard"}
                      </p>
                      )}
                      <p><i>Effect: {card.effect}</i></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            ))}
          </div>
        </div>
      </div>
      <div class="row" style="display: none;" id="yaml">
        <div class="col">
          <div class="card">
            <h2>Generated YAML</h2>
            <p>Click the button below to copy the generated YAML to your clipboard, and paste it into your custom Fortune Street board's YAML file. Make sure that there is only one <code>ventureCards</code> property in your YAML.</p>
            <code><textarea class="form-control" id="generatedYaml" rows="10" readonly></textarea></code>
            <button class="btn btn-primary" id="copyYaml" onclick="cards.copy_yaml_to_clipboard()">Copy to clipboard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>